<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passage</title>
  <!-- 引入 highlight.js 的 CSS 文件 -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css"> -->
  <!-- <link rel="stylesheet" href="../static/an-old-hope.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/an-old-hope.min.css">
  <!-- 引入 KaTeX 样式 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css" integrity="sha384-Q7pLqhpALMZjFTcIBV5GrTgmsTr17BGE57HbdoHRM13ZQUFjz6jd0Z9Sv92fMGib" crossorigin="anonymous">

</head>
<body>
  <div id="content">
    <%- markdown -%>
  </div>
  <!-- 可选：引入 highlight.js 的 JS 文件 -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script> -->
</body>
</html>